<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title></title>
	  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
	  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	  <style>
		div.menu {
			background-color: #183693;
  			overflow: auto;
  			white-space: nowrap;
		}

		div.menu a {
  			display: inline-block;
  			color: white;
  			text-align: center;
  			padding: 14px;
  			text-decoration: none;
		}

		div.menu a:hover {
  			background-color: #3556bd;
		}

		table {
		  border-collapse: collapse;
		  border-spacing: 0;
		  width: 100%;
		  border: 1px solid black;
		  position: absolute;
		  top: 80%;

		}

		th, td {
		  text-align: center;
		  padding: 10px;
		  border: 1px solid black;
		}

		th:first-child, td:first-child {
		  text-align: left;
		}

		/* tr:nth-child(even) {
		  background-color: #f2f2f2
		}*/

		.fa-check {
		  color: green;
		}

		.fa-remove {
		  color: red;
		} 
		canvas{
			margin: 5 auto;
			margin-left: -10px;
		}
	</style>

	
</head>
<body>

	<div id="mainHeader" class="menu">

  		<a href="{{url_for('homePage')}}">Home</a>
  		<a href=""></a>
  		<a href=""></a>
	</div>

	<canvas id="chart" width="500" height="150"></canvas>
	<script>

		var ctx = document.getElementById('chart').getContext('2d');
		var myChart = new Chart(ctx, {
		     type: 'line',
		     data: {
		        labels: [{% for item in label %}
		        "{{item}}",
		        {% endfor %}],
		    datasets: [
		    {
		    	
		    	label: '{{software_1}}',
				data: [{% for item in sw_1%}
		        {%for i in item%}
		        "{{i}}",
		        {%endfor%}
		        {% endfor %}],
		        fill: false,
				backgroundColor:'rgb(255, 99, 132)',
		        borderColor:'rgb(255, 99, 132)',
		        borderWidth: 1

			},
			{
				
				label: '{{software_2}}',
		        data: [{% for item in sw_2%}
		        {%for i in item%}
		        "{{i}}",
		        {%endfor%}
		        {% endfor %}],
		        backgroundColor:'rgb(75, 192, 192)',
		        borderColor:'rgb(75, 192, 192)',
		        borderWidth: 3
			}
		]},
		    
		    options: {
		     responsive: true,
		     scales: {
		     	y: {
		     		suggestedMin: 0,
                	suggestedMax: 1
            	}
            },
		     plugins: {
		     	legend: {
		     		position: 'top',
		     	},
		     	title: {
		     		display: true,
		     		text: 'RF Software Comaprison Graph'
		     	}
		     }
		 },
		});
	</script>



<table id="rfsw_comment_table">
  <tr>
  	<th>RF Software Version</th>
  	<th>Release candidate</th>
    <th>Comments</th>
  </tr>
  {%for i in sw_1%}
  <tr>
  	<td>{{software_1}}</td>
  	<td>{{i[1]}}</td>
   	<td>{{i[12]}}</td>
  </tr>
  {%endfor%}


   
   {%for i in sw_2%}
   <tr>
   	<td>{{software_2}}</td>
   	<td>{{i[1]}}</td>
   	<td>{{i[12]}}</td>
  </tr>
  {%endfor%}
  

</table>
	
</body>
</html>

           
                  

		