<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title></title>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

  <style>
    div.menu {
      background-color: #183693;
      overflow: auto;
      white-space: nowrap;
    }

    div.menu a {
        display: inline-block;
        color: white;
        text-align: center;
        padding: 14px;
        text-decoration: none;
    }

    div.menu a:hover {
        background-color: #3556bd;
    }

    /* Compare input fileds CSS */
    input[type=text], select, textarea {
      width: 100%;
      padding: 6px 5px;
      border: 1px solid #ccc;
      border-radius: 4px;
      resize: vertical;
    }


    /* all labels CSS */
    label {
      padding: 12px 12px 12px 0;
      display: inline-block;
    }
    /* Compare input and button Menu CSS */
    input[type=submit] {
      background-color: #04AA6D;
      color: white;
      padding: 12px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      float: right;
    }

    /* Compare button BG color CSS */
    input[type=submit]:hover {
      background-color: #45a049;
    }

    /* Compare input CSS */
    .softwareComparison {
      position: relative;
      padding: 10px;
      border-radius: 5px;
      background-color: lightgrey;
      display: inline-block;
      float: left;
      width: 50%;
        
    }

    /* Table rows and column CSS */

    div.scorpio_rfSW{
      display: inline-block;
      float: left;
      position: absolute;
      left: 51%;
    }
    table {
      border-collapse: collapse;
      width: 38%;
      border: 1px solid black;
    }
    th, td {

      text-align: left;
      padding:  10px 30px 5px 10px;
      border: 1px solid black;
    }
  
    

    * {

        box-sizing: border-box;
    }


  </style>
</head>
<body>

  <div id="mainHeader" class="menu">

      <a href="{{url_for('homePage')}}">Home</a>
      <a href=""></a>
      <a href=""></a>
  </div>


  <!-- Compare with Input field-->
  <div class="softwareComparison">
    <form action="{{ url_for('graph_comparison') }}" method="POST">
    
      
      </select>
      <label for="Software1">RF Software Version:</label>
      <input id="Software1"  type = "text" name = "Software1" size="30px"/>
      <label for="Software1">Compare with:</label>
      <input id="Software2" type = "text" name = "Software2" size="30" />
      
      <p style="text-indent: 5px;"> <input type = "submit" value = "Compare"/></p>
    </form>
  </div>


  <div id="scorpio_rfSW" class="scorpio_rfSW" align="right">
    
    <table id="scorpio_rfSW_table">
      <caption style="font-size:20px;">Scorpio AZHL Trunk Build Validation</caption>     
      <tr>
        <th>Date</th>
        <th>SBTS Build</th>
        <th>RFSW Version</th>

      </tr>
      <!-- Common Components -->
      {% for items in range(length)%}
      <tr>
        <td>{{date[items]}}</td>
        <td>{{sbts_builds[items]}}</td>
        <td>{{build_No[items]}}</td>
        <td>{{rfSW_Version[items]}}</td>
      </tr>
      {% endfor %} 
      
    </table>
  </div>

</body>
</html>



    