<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<style>
		div.menu {
			background-color: #183693;
  			overflow: auto;
  			white-space: nowrap;
		}

		div.menu a {
  			display: inline-block;
  			color: white;
  			text-align: center;
  			padding: 14px;
  			text-decoration: none;
		}

		div.menu a:hover {
  			background-color: #3556bd;
		}

		/* Drop Down Menu CSS */
		.softwareDropDown{
			/*background-color: #f2f2f2;*/
			background-color: lightgrey;
			padding: 5px;
			float: left;
			width: 50%;
			display: inline-block;
			position: relative;
			border-radius: 5px;
		}

	

		/* Radio Table Description css */
		div.radioTypeDescription{
			padding-top: 300px;

		}

		/* Table rows and column CSS */
		table {
			border-collapse: collapse;
			width: 38%;
			border: 1px solid black;
		}
		th, td {

			text-align: left;
			padding:  10px 30px 5px 10px;
			border: 1px solid black;
		}
	
		

		* {

  			box-sizing: border-box;
		}


		/* Compare input fileds CSS */
		input[type=text], select, textarea {
		  width: 100%;
		  padding: 6px;
		  border: 1px solid #ccc;
		  border-radius: 4px;
		  resize: vertical;
		}


		/* all labels CSS */
		label {
		  padding: 12px 12px 12px 0;
		  display: inline-block;
		}
		/* Compare input and button Menu CSS */
		input[type=submit] {
		  background-color: #04AA6D;
		  color: white;
		  padding: 12px 20px;
		  border: none;
		  border-radius: 4px;
		  cursor: pointer;
		  float: right;
		}

		/* Compare button BG color CSS */
		input[type=submit]:hover {
		  background-color: #45a049;
		}

		/* Compare input CSS */
		.softwareComparison {
			position: relative;
			padding: 10px;
			border-radius: 5px;
		  	background-color: lightgrey;
		  	display: inline-block;
		  	float: left;
		  	width: 50%;
		  	left: 3px;
		}

		


		/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */ 
		@media screen and (max-width: 992px) {
			
			}
		@media screen and (max-width: 600px) {
			
			div.softwareDropDown{
				width: 400px;
			}
			div.softwareComparison{
				width: 400px;
				display: block;
				margin-top: 8px;
				left: -1px;
			}
			}

	</style>
	<script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
	<title></title>

	<script>
		window.onload = function(){
			var sbts = document.getElementById('sbtsBuilds').getElementsByTagName('option')[0].selected = true;
			 document.getElementById('rfsoftwares').getElementsByTagName('option')[0].selected = true;
			 document.getElementById('rfSWVersions').getElementsByTagName('option')[0].selected = true;
		}

		window.onclick = function(){
			
		}


	</script> 


</head>
<body>


	
	<div id="mainHeader" class="menu">

  		<a href="{{url_for('homePage')}}">Home</a>
  		<a href=""></a>
  		<a href=""></a>
	</div>

	

	<div class="softwareDropDown">
	<label for="Sbts Builds">SBTS Builds:</label>
	<select name="sbtsBuilds" , id="sbtsBuilds">
    {% for items in sbts_Builds['items']%}
    <option value= "{{items.get('version')}}" SELECTED>{{items.get('version')}}</option>
    {% endfor %} 
	</select>

	<label for="RF Software">Radio Type:</label>
	<select name="rfsoftwares", id="rfsoftwares">
    {% for items in rf_softwares%}
     <!-- {%for i in range(rfLen)%}   {% endfor %} <option value= "{{items}},{{i}}"-->SELECTED>{{items}} ({{(i)}})</option>" 
    <option value= "{{items}}" SELECTED>{{items}}</option>"
    {% endfor %} 

	</select>

	<label for="RF Software Version">RF Software Versions:</label>
	<select name="rfSWVersions" , id="rfSWVersions">
    {% for items in rf_SW_versions['items']%}
    <option value= "{{items.get('version')}}" SELECTED>{{items.get('version')}}</option>"
    {% endfor %} 
	</select>
	</div>

	<!-- Compare with Input field-->
	<div class="softwareComparison">
		<form action="{{ url_for('softwareComparison') }}" method="POST">
    	
    	<label for="Software1">Radio Component:</label>
    	<input id="radioComponent" type = "text" name = "radioComponent" size="30" />
    	<!--<label for="Software1">Compare Radio Component:</label>
    	<input type = "text" name = "compareRadioComponent" size="30" />-->
    	<label for="Software1">RF Software Version:</label>
    	<input id="Software1"  type = "text" name = "Software1" size="30px"/>
    	<label for="Software1">Compare with:</label>
    	<input id="Software2" type = "text" name = "Software2" size="30" />
    	
    	<p style="text-indent: 5px;"> <input type = "submit" value = "Compare"/></p>
		</form>
	</div>

	
	<div id="radioTypeDescription" class="radioTypeDescription" align="left">
		
		<table>
			<caption style="font-size:30px; padding-top: 30px;">Relevant RF Sofwtare as per RU type</caption>			
			<tr>
				<th>Radio Component</th>
				<th>Radio Name/Type</th>
			</tr>
			<!-- Common Components -->
			{%for item in range(rfLen)%}
			<tr>
				<td>{{rf_softwares[item]}}</td> 
				<td>{{radioList[item]}}</td>
			</tr>
			{%endfor%}
			
				
		</table>
	</div>
	

</body>
</html>