<!DOCTYPE html>
<html>
<head>

  <title></title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/css/bootstrap.min.css" integrity="sha256-/ykJw/wDxMa0AQhHDYfuMEwVb4JHMx9h4jD4XvHqVzU=" crossorigin="anonymous" />

  <style>
    .n-banner{
      background-color: #183693;
      height: 50px;
    }
    .n-banner img{
      margin: -25px;
      height: 100px;
      width: 150px;
    }
    .button {
      padding: 15px 25px;
      font-size: 24px;
      height: 100px;
      text-align: center;
      cursor: pointer;
      outline: none;
      color: #fff;
      background-color: #04AA6D;
      border: none;
      border-radius: 15px;
  }

    .button:hover {background-color: #3e8e41}




    .loader {
      display: none;
      top: 55%;
      left: 45%;
      position: absolute;
      transform: translate(-50%, -50%);
    }
    div.loader h3 {
        position: absolute;
        top:90%; 
        left: -20%;
    }
    .loading {
      border: 2px solid #ccc;
      width: 60px;
      height: 60px;
      border-radius:50%;
      border-top-color: #1ecd97;
      border-left-color: #1ecd97;
      animation: spin 1s infinite ease-in;

    }

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }


  </style>

<script type="text/javascript">
    function spinner() {
      document.getElementsByClassName("loader")[0].style.display = "block";
    }
</script> 
</head>
  <meta charset="utf-8">
  <meta name="viewpoint" content="width=device-width initial-scale=1.0">

<body>

  <div class="n-banner">
    <img src="{{url_for('static',filename='nokia-white.png')}}" alt="nokiaBG"/>
    
  </div>
  <h2>RF Software Comparison</h2>
  
  <div class="homeButton">
    <a id="tablebtn" href="{{ url_for('softwareList') }}"><button id="tablebtn" class="button" onclick="spinner()">Comparison with Table</button></a>
  <a id="graphbtn" href="{{ url_for('chartComparison') }}"><button id="graphbtn" class="button" onclick="spinner()">Comparison with Graphs</button></a>
  </div>
  

  <div class="loader">
    <div class="loading"></div>
    <h3 class="loading_h">Loading...</h1>
  </div>

</body>
</html>