<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <style type="text/css">

    div.menu {
      background-color: #183693;
        overflow: auto;
        white-space: nowrap;
    }

    div.menu a {
        display: inline-block;
        color: white;
        text-align: center;
        padding: 14px;
        text-decoration: none;
    }

    div.menu a:hover {
        background-color: #3556bd;
    }

    
    .container {
      position: absolute;
      text-align: left;
      float: left;
      display: flex;

      /* width: 20%;*/
        
      }
      .table-responsive{
        float: left;
        border: none;

      }

      table {
      border-collapse: collapse;
      width: 50%;
      border: 2px solid black;

    }
    th, td {
      text-align: left;
      white-space: nowrap;
      border: 1px solid black;
    }
    .softwareHeading{
      text-indent: 10px;
      padding-top: 10px;
      font-size: 20px; 
      font: bold;
      color: black;


    }
    .differentComponent {
        
          background-color: yellow;
        
    }

    @media screen and (max-width: 600px) {
      table {
        overflow: hidden;
        }
      }
  </style>
</head>
<body>

  <div id="mainHeader" class="menu">

      <a href="{{url_for('homePage')}}">Home</a>
      <a href=""></a>
      <a href=""></a>
  </div>

<div class="container">                                                                                     
  <div class="table-responsive">          
  <table id="sofwtare_1Table" class="table">
    <caption class="softwareHeading">Software Version: {{readJson3['baseline']}}, Software Based On: {{readJson3['based_on']}}</caption>
   
      <tr>
          <th>ID</th>
          <th>Peg_revision</th>
          <th>Project</th>
          <th>Component</th>
        </tr>
      <!-- Common Components -->
        {% for item in range(commonLen)%}
        <tr>
          <td>{{common_ID_SW1[item]}}</td>
          <td>{{common_PegRevision_SW1[item]}}</td>
          <td>{{project[item]}}</td>
          <td>{{commonComponent[item]}}</td>
        </tr>
        {%endfor%}

        <!-- Different Components -->

          {% for item in range(diffLen)%}
          <tr class="differentComponent">
            <td>{{different_ID_SW1[item]}}</td>
            <td>{{different_pegRevision_SW1[item]}}</td>
            <td>{{project[item]}}</td>
            <td>{{different_Component_SW1[item]}}</td>
          </tr>
          {%endfor%}
  </table>
  </div>

  <div  class="table-responsive" style=" position:absolute; margin-left:816px; table-layout: fixed;">          
  <table id="sofwtare_2Table" class="table">
    <caption class="softwareHeading">Software Version: {{readJson4['baseline']}}, Software Based On: {{readJson4['based_on']}}</caption>
      <tr>
          <th>ID</th>
          <th>Peg_revision</th>
          <th>Project</th>
          <th>Component</th>
        </tr>
      <!-- Common Components SW2-->
        {% for item in range(commonLen)%}
        <tr>
          <td>{{common_ID_SW2[item]}}</td>
          <td>{{common_PegRevision_SW1[item]}}</td>
          <td>{{project[item]}}</td>
          <td>{{commonComponent[item]}}</td>
        </tr>
        {%endfor%}
       

        <!-- Different Components SW2 -->
        {%for item in range(diffLenSW2)%}
        <tr class="differentComponent">
          <td>{{different_ID_SW2[item]}}</td>
          <td>{{different_pegRevision_SW2[item]}}</td>
          <td>{{project[item]}}</td>
          <td>{{different_Component_SW2[item]}}</td>
        </tr>
        {%endfor%}
  </table>
  </div>
</div>

</body>
</html>
